@import '../../../../constants.scss';

.step-container {
  border: 1px solid black;
  border-radius: 4px;
  width: fit-content;
  padding: 0 $common-margin-padding $common-margin-padding $common-margin-padding;
  margin-top: $common-margin-padding;
  margin-left: $common-margin-padding;
  background-color: $main-color;
}

.result-container {
  background-color: #d8d8d8;
}

.selectors-wrapper {
  display: flex;
}
